@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-image: url("img/background-img.jpg");
    background-size: cover;
    text-shadow: 0px 0px 10px #000000c2;
}



/*-----------------
 Header
-------------------*/

.header{
    width: 100%;
    height: 15vh;
}

.name{
    padding-top:20px;
    margin: 10px 5vh;
    display: flex;
}

.name p{
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}



/*-----------------
 Main-Body
-------------------*/

#card--container{
    margin-top: 2vh;
    height: 70vh;
    width: 70vw;
    color: whitesmoke;
    box-shadow: 0px 0px 10px 2px rgba(245, 111, 2, 0.846);
    border-radius: 0px;
}
#res1{
    height: 70vh;
}
.result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

/*---Temp and City---*/

.city{
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    padding-top: calc(50% - 120px);
}
#temp{
    height: 7vh;
    font-size: 150px;
}
#city{
    width: 100%;
    font-size: 50px;
    padding: 60px 0 0 10px;
}
#date{
    font-size: 24px;
    padding: 0 0 0 13px;
}

/*---SearchBar---*/

.searchbar{
    display: flex;
    flex-direction: row;
    height: 4.5vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238, 234, 229, 0.084);
}
#input{
    position: relative;
    width: 80%;
    height: 100%;
    border-radius: 0rem;
    border: 0px;
    color:rgb(255, 128, 0);
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
    font-size: 24px; 
}
#input:focus{
    outline: none; 
}
#submit{
    width: 45px;
    height: 100%;
    border-radius: 0;
    background-color: rgba(255, 123, 0, 0.675); 
}
#submit:hover{
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: rgb(255, 128, 0);
}

/*--- Weather Details---*/

.weather{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.contains {
    padding: 6vh 2vw;
    font-size: 20px;
}

.x {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#txt{
    font-size: 30px;   
}
#sky{
    height: 10vh;
    padding-top: 10vh;
}
#humidity{
    height: 10vh;
}
#wind{
    height: 10vh;
}



/*-----------------
 Footer
-------------------*/

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: end;
    color: rgba(239, 80, 6, 0.814);
    margin-top: 8vh;
    opacity: 0.5;
    width: 100%;
    padding: 0 4vw 0 0;
}

footer a{
    text-decoration: none;
    color: rgba(239, 80, 6, 0.814);
}



/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	#card--container{
		max-width: 1175px;
	}
}


/* @media (max-width: 1530px) {
	.hero-slider .owl-dots {
		width: 1170px;
		left: calc(50% - 585px);
	}
} */


/* Medium screen : 1200px. */

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
	
    .city{
        display: flex;
        flex-direction: row;
        margin: 10px 30px;
        padding-top: calc(50% - 110px);
    }
    #temp{
        height: 7vh;
        font-size: 120px;
    }
    #city{
        width: 100%;
        font-size: 30px;
        padding: 60px 0 0 10px;
    }
    #date{
        font-size: 18px;
        padding: 0 0 0 13px;
    }
}


/* Tablet :900px. */

@media only screen and (min-width: 900px) and (max-width: 1200px) {
	
    .header{
        height: 10vh;
    }
    .name p{
        font-size: 14px;
    }

    #input{
        font-size: 14px;
    }

    .city{
        display: flex;
        flex-direction: row;
        margin: 10px 30px;
        padding-top: calc(50% - 60px);
    }
    #temp{
        height: 7vh;
        font-size: 90px;
    }
    #city{
        width: 100%;
        font-size: 20px;
        padding: 50px 0 0 10px;
    }
    #date{
        font-size: 14px;
        padding: 0 0 0 13px;
    }

    .contains {
        padding: 6vh 2vw;
        font-size: 14px;
    }   
    #txt{
        font-size: 20px;   
    }
    #sky{
        height: 10vh;
        padding-top: 10vh;
    }
    #humidity{
        height: 10vh;
    }
    #wind{
        height: 10vh;
    }

    footer{
        font-size: 12px;
    }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 900px) {
	
    .body{
        background-image: url("img/background-img-mobile.jpg");
        background-size: cover;
    }
    .name p{
        font-size: 14px;
    }

    #card--container{
        margin-top: 0vh;
        height: 100vh;
        width: 80vw;
    }
    #res1{
        height: 55vh;
    }
    .result{
        display: flex;
        flex-direction: column;
    }

    .city{
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        padding: 0px;
    }
    #temp{
        height: 7vh;
        font-size: 80px;
    }
    #city{
        width: 100%;
        font-size: 25px;
        padding: 30px 0 0 0px;
    }
    #date{
        font-size: 14px;
        padding: 0px;
    }

    .weather{
        width: 100%;
        margin-top: 20px;
    }
    #input{
        font-size: 14px;
        padding-left: 20px;
    }
    .contains {
        padding: 6vh 7vw;
        font-size: 16px;
    }   
    #txt{
        font-size: 24px;   
    }
    #sky{
        height: 10vh;
        padding-top: 10vh;
    }
    #humidity{
        height: 10vh;
    }
    #wind{
        height: 10vh;
    }

    footer{
        font-size: 16px;
        padding-bottom: 5px;
    }
}